* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    color: grey;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

p{
    color: grey;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.user-01 {
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 8px;
}

.user-02 {
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 8px;
}

.user-03 {
    height: 150px;
    width: 150px;
    background-color: green;
    border-radius: 8px;
}

.user-04 {
    height: 150px;
    width: 150px;
    background-color: orange;
    border-radius: 8px;
}
