.app {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ef5350;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.pagination {
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination button {
  padding: 10px 20px;
  background: #ef5350;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:disabled {
  background: gray;
  cursor: not-allowed;
}
